{% load static %}

<div class="card mb-3 text-bg-light shadow-lg text-center">
    {% for basket in baskets %}
        <div class="card-header">
            <h5 class="card-title">{{ basket.product.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row text-center">
                    <div class="col p-0">
                        <form method="post" action="{% url 'baskets:basket_change' %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success btn-sm" name="decrement" value="{{ basket.id }}">-</button>
                                </span>
                                <input type="text" class="form-control number" value="{{ basket.quantity }}" readonly>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success btn-sm" name="increment" value="{{ basket.id }}">+</button>
                                </span>
                            </div>
                            <input type="hidden" name="basket_id" value="{{ basket.id }}">
                        </form>
                    </div>
                    <div class="col p-0">
                        <p>x {{ basket.product.sell_price }} = </p>
                    </div>
                    <div class="col p-0"><strong>{{ basket.products_price }} грн</strong></div>
                    <div class="col p-0">
                        <a href="{% url 'basket:basket_remove' basket.id %}" class="remove-from-cart" data-cart-id="">
                            <img class="mx-1" src="{% static 'deps/icons/trash3-fill.svg' %}" alt="Catalog Icon" width="16" height="16">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
</div>
<div class="card mb-3 shadow-lg">
    <div class="card-footer">
        <p class="text-center">Усього <strong>{{ baskets.total_quantity }}</strong> товар(а) на суму</p>
        <h4 class="text-center"><strong>{{ baskets.total_price }} грн</strong></h4>
    </div>
</div>
{% if baskets and not custom %}
    <a class="btn btn-success d-flex justify-content-center " href="{% url 'customs:create_customs' %}">Оформити замовлення</a>
{% endif %}


