{% extends "base.html" %}
{% load static %}

{% block modal_basket %}
    {% include "includes/basket_button.html" %}
{% endblock %}

{% block content %}
<div class="container mt-5">
                        <div class="card mb-4 custom-shadow d-flex ">
                            <div class="row">
                                <!-- Мініатюри -->
                                <div class="col-md-4">
                                    <img src="{{ product.image.url }}"
                                        class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">
                                </div>
                                <div class="col-md-8 mt-5 ">
                                    <h5 class="card-title text-center">{{ product.name }}</h5>
                                    <p class="card-text text-center">{{ product.description }}</p>
                                </div>
                                <!-- Збільшити зображення у модальному вікні -->
                                <div class="modal fade" id="imageModal1" tabindex="-1"
                                    aria-labelledby="imageModal1Label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="imageModal1Label">{{ product.name }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Закрыть"></button>
                                            </div>
                                            <div class="modal-body">
                                                <img src="{{ product.image.url }}"
                                                    class="img-fluid" alt="Изображение 1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Опис товару -->
                            <div class="card-body">
                                <p class="product_id mb-0">id: {{ product.product_id }}</p>
                                <p class="card-text ">Ціна: <strong>{{ product.sell_price}} грн</strong> </p>
                                <a href="{% url "basket:basket_add" product.slug %}" class="btn btn-dark add-to-cart">Додати до кошику продуктів</a>
                            </div>
                        </div>
                    </div>
{% endblock %}